*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    background-color: rgba(0, 255, 255, 0.315);
    justify-content: space-between;
}

header h1 {
    margin: 0;
    text-decoration: underline;
    font-size: 3.5em;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links a {
    margin-inline-end: 1em;
}

main {
    text-align: center;
}

.main-part-html {
    padding: 0.1em 0.5em;
    border: 1px solid black;
    border-radius: 0.4em;
}

.world-img {
    height: 30vh;
    width: 40vw;
}

.links {
    display: flex;
    justify-content: space-around;
}

a {
    color: inherit;
}

.settings-form h2 {
    text-decoration: underline;
    margin-block-start: 1.3em;
}

.settings-form form {
    display: grid;
    grid-template-columns: auto auto;

    place-content: center;
    gap: 0.8em;
    text-align: start;
    margin-block-start: 2.5em;
}